body {
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    font-size: 40px;
    box-shadow: inset 0 0 0 4px #fff;
    background: #000;
    border-spacing: 4px;
    user-select: none;
}

.board td {
    width: 100px;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: #fff;
    cursor: default;
}

.board div {
    transition: 2s;
}

.away {
    transform: translate(80vw, 80vh);
}

.user-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 50px;
    top: 50px;
}

.user-info div {
    display: flex;
    align-items: flex-end;
}

.user-info input {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid rgb(54, 54, 54);
}

.user-info input:focus {
    outline: 0;
    outline-offset: 0;
}

.user-count {
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.spoiler {
    position: absolute;
    top: calc(50% - 30px);
    right: 50px;
    font-size: 50px;
    font-weight: bold;
    cursor: default;
    transition: 1s;
    user-select: none;
}

.canvas-winner {
    position: absolute;
    display: flex;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    background: rgb(75, 87, 88);
}

.title-winner {
    position: absolute;
    top: 150px;
    animation: show-winner 2s ease-out;
}

@keyframes show-winner {
    0% {
        top: -40px;
    }
    25% {
        top: 250px;
    }
    55% {
        top: 200px;
    }
    100% {
        top: 150px;
    }
}

@keyframes letter1 {
    0% {
        opacity: 0;
        top: -400px;
    }
    100% {
        top: 0;
    }
}

.btn-restart {
    align-self: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 4px;
    border: 1px solid #4b8f29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
    /* animation: light 1s linear infinite alternate 7s; */
    animation: light 1s linear infinite alternate 3s;
    opacity: 0;
    height: 0;
}

.btn-restart:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    animation-play-state: paused;
    background-color: #72b352;
}

.btn-restart:active {
    position: relative;
    top: 1px;
}

.btn-reset,
.btn-save {
    border: 3px solid rgb(49, 48, 48);
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    color: #ffffff;
    background: rgb(49, 48, 48);
    transition: 0.28s;
}

.btn-reset {
    margin-left: 30px;
}

.btn-reset:hover,
.btn-save:hover {
    cursor: pointer;
    background: #fff;
    color: rgb(49, 48, 48);
}

.btn-reset:active,
.btn-save:active {
    transform: translate(-1px, 1px);
}

@keyframes light {
    0% {
        opacity: 1;
        height: auto;
        box-shadow: 0px 0px 14px 0px #ffffff;
    }
    100% {
        opacity: 1;
        height: auto;
        box-shadow: 0px 0px 14px 5px #ffffff;
    }
}
